#videoUpload {
  width: 500px;
}

.btn-check:checked + .btn {
  background-color: #FFA900;
}

#PCInput, #YTInput {
  display: none;
}

#PC:checked ~ #PCInput {
  display: block;
}

#YouTube:checked ~ #YTInput {
  display: block;
}

.text-bg-black {
  color: #fff !important;
  background-color: #161616 !important;
}

.backbutton {
  height: 100%;
  background-color: transparent;
  transition: background 0.15s ease-in-out;
  border-width: 0;
}

.backbutton > img{
  height: 100%;
  background-color: transparent;
  transition: background 0.15s ease-in-out;
  border-width: 0;
}

.backbutton:hover:before,
.backbutton:active:before {
  background-color: #dedede !important;
}

.nav {
  border-bottom: 1px solid #FFA900;
  height: 40px;
}