
.main {
    height: calc(100% - 33px);
}

.video { 
    padding-right: 500px;
}

.thumbnails { 
}

.filters {
    /* -ms-flex: 0 0 450px;
    flex: 0 0 450px; */
    scrollbar-width: thin;
}

.sidebar {
    width: 500px;
    position: fixed;
    top: 33px;
    bottom: 0;
    right: calc(var(--bs-gutter-x) * 0.5);
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.adds {
    /* -ms-flex: 0 0 450px;
    flex: 0 0 450px; */
}

.h-10 {
    height: 10%;
}

.h-15 {
    height: 15%;
}

.h-20 {
    height: 20%;
}

.h-25 {
    height: 25%;
}

.h-30 {
    height: 30%;
}

.h-35 {
    height: 35%;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.h-70 {
    height: 70%;
}

.h-75 {
    height: 75%;
}

.h-80 {
    height: 80%;
}

.h-85 {
    height: 85%;
}

.h-90 {
    height: 90%;
}

.thumbnail-carousel-item video {
    width: auto;
    height: 70%;
    object-fit: cover;
}

.main-carousel-item video {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.splide__slide {
    opacity: 0.6;
    text-align: center;
}

.splide__slide.is-active {
    opacity: 1;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
    border: 3px solid #FFA900 !important;
}

.grid {
    /* overflow-y: auto; */
    display: grid;
    list-style: none;
    grid-gap: 10px;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
}

.agentgrid {
    grid-template-columns: repeat(6, 1fr) !important;
}

.mapgrid {
    grid-template-columns: repeat(3, 1fr) !important;
}

.sidegrid {
    grid-template-columns: repeat(2, 1fr) !important;
}


.fitertitle {
    height: 30px;
    line-height: 30px; 
}

.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    box-sizing: border-box;
    list-style: none;
    background-color: lightgray;
    height: fit-content;
}   

.agentcard {
    height: fit-content;
}

.cardimg {
    cursor: pointer;
    list-style: none;
    display: block;
    width: 100%;
    transition: 0.2s;
    box-sizing: border-box;
    text-align: center;
    opacity: 0.6;
}

.mapcard.selected {
    grid-row: span 2;
    grid-column: span 2;
}

.agentcard.selected {
    grid-row: span 2;
    grid-column: span 2;
}

.cardimg:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.card.selected > .cardimg{
    opacity: 1;
}

.card.selected {
    border: 1px solid #FFA900;
}

.cardname {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.sitecard > .cardimg {
    font-size: 30px;
    font-weight: 700;
    height: 60px !important;
    line-height: 60px;
    width: auto;
}

.sidecard > .cardimg {
    height: 50px !important;
    width: auto;
}

.abilitycard {
    height: 80px !important;
}

.contenttypecard {
    height: 80px !important;
}

.abilitycard > .cardimg {
    max-height: 68px !important;
    width: auto;
    filter: brightness(0);
}

.contenttypecard > .cardimg {
    max-height: 68px !important;
    width: auto;
}